<h2><%= t(".title") %></h2>

<p><%= link_to t(".forgot_password"), new_password_path %></p>

<%= simple_form_for :session, url: session_path do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit class: "primary-button" %>
  or <%= link_to t(".sign_up"), sign_up_path %>
<% end %>

