<h2><%= t(".add") %></h2>
<%= render "form", reminder: @reminder %>

<h2><%= t(".reminders") %></h2>
<% if @reminders.any? %>
  <ul class="reminders">
    <%= render @reminders %>
  </ul>
<% else %>
  <%= t(".no_reminders") %>
<% end %>
