<h2><%= t(".add") %></h2>
<%= simple_form_for @reminder_form, url: reminders_path do |f| %>
  <%= render "form_fields", f: f %>
<% end %>

<h2><%= t(".reminders") %></h2>
<% if @reminders.any? %>
  <ul class="reminders">
    <%= render @reminders %>
  </ul>
<% else %>
  <%= t(".no_reminders") %>
<% end %>
